ul#social li {
	display: inline; /* Отображать как строчный элемент */
	margin-right: 5px; /* Отступ слева */
	border: 1px solid #000; /* Рамка вокруг текста */
	padding: 3px; /* Поля вокруг текста */
}
div.news-list
{
	color: #ff0000;
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
